@font-face {
  font-family: 'Poppins';
  src: url('../../public/assets/fonts/Poppins/Poppins-Regular.ttf');
}

:root {
  --dark-grey: #121212;
  --grey: #7E7E7E;
  --white: #FFFFFC;
  --orange: #FBAF00;
  --green-up: #00AF54;
  --red-down: #E41138;
  --light-grey: #39393B;

  --ion-color-primary: #FBAF00;
  --ion-color-primary-rgb: 251,175,0;
  --ion-color-primary-contrast: var(--white);
  --ion-color-primary-contrast-rgb: 255,255,252;
  --ion-color-primary-shade: #dd9a00;
  --ion-color-primary-tint: #fbb71a;

  --ion-color-secondary: #39393B;
  --ion-color-secondary-rgb: 57,57,59;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #323234;
  --ion-color-secondary-tint: #4d4d4f;

  --ion-color-tertiary: #7E7E7E;
  --ion-color-tertiary-rgb: 126,126,126;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #6f6f6f;
  --ion-color-tertiary-tint: #8b8b8b;

  --ion-color-success: #00AF54;
  --ion-color-success-rgb: 0,175,84;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #009a4a;
  --ion-color-success-tint: #1ab765;

  --ion-color-warning: #FBAF00;
  --ion-color-warning-rgb: 251,175,0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #dd9a00;
  --ion-color-warning-tint: #fbb71a;

  --ion-color-danger: #E41138;
  --ion-color-danger-rgb: 228,17,56;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #c90f31;
  --ion-color-danger-tint: #e7294c;

  --ion-color-dark: #121212;
  --ion-color-dark-rgb: 18,18,18;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #101010;
  --ion-color-dark-tint: #2a2a2a;

  --ion-color-medium: #7E7E7E;
  --ion-color-medium-rgb: 126,126,126;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #6f6f6f;
  --ion-color-medium-tint: #8b8b8b;

  --ion-color-light: #FFFFFC;
  --ion-color-light-rgb: 255,255,252;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0e0de;
  --ion-color-light-tint: #fffffc;


  --ion-background-color: var(--ion-color-dark);
  --ion-text-color: var(--ion-color-light);

  /* FONTS */
  --ion-font-family: 'Poppins'
}