<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <MainTitle title="Dashboard" />
      
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonPage, IonContent } from '@ionic/vue';

import MainTitle from '@/components/MainTitle.vue';

export default  {
  name: 'Dashboard',
  components: { MainTitle, IonContent, IonPage }
}
</script>