<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <ion-title size="large">Settings</ion-title>
      <MainTitle title="Settings" />
      <ExploreContainer name="Settings" />
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonPage, IonTitle, IonContent } from '@ionic/vue';
import ExploreContainer from '@/components/ExploreContainer.vue';
import MainTitle from '@/components/MainTitle.vue';


export default  {
  name: 'Settings',
  components: { ExploreContainer, MainTitle, IonTitle, IonContent, IonPage }
}
</script>