<template>
  <ion-page>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="dashboard" href="/pages/dashboard">
          <ion-icon :icon="grid" />
          <ion-label>Dashboard</ion-label>
        </ion-tab-button>
          
        <ion-tab-button tab="wallet" href="/pages/wallet">
          <ion-icon :icon="wallet" />
          <ion-label>Wallet</ion-label>
        </ion-tab-button>
        
        <ion-tab-button tab="add" href="/pages/add">
          <ion-icon :icon="addCircle" />
        </ion-tab-button>

        <ion-tab-button tab="profile" href="/pages/profile">
          <ion-icon :icon="person" />
          <ion-label>Profile</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="settings" href="/pages/settings">
          <ion-icon :icon="settings" />
          <ion-label>Settings</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-page>
</template>

<script lang="ts">
import { IonTabBar, IonTabButton, IonTabs, IonLabel, IonIcon, IonPage } from '@ionic/vue';
import { grid, wallet, addCircle, person, settings } from 'ionicons/icons';

export default {
  name: 'Tabs',
  components: { IonLabel, IonTabs, IonTabBar, IonTabButton, IonIcon, IonPage },
  setup() {
    return {
      grid,
      wallet, 
      addCircle, 
      person,
      settings
    }
  }
}
</script>