<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <ion-title size="large">Wallet</ion-title>
      <MainTitle title="Wallet" />
      <Balance :amount="120.00" />
      <Distribution />
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonPage, IonTitle, IonContent } from '@ionic/vue';
import Balance from '@/components/Balance.vue';
import Distribution from '@/components/Distribution.vue';
import MainTitle from '@/components/MainTitle.vue';


export default  {
  name: 'Wallet',
  components: { MainTitle, IonTitle, IonContent, IonPage, Balance, Distribution }
}
</script>