<template>
  <div class="balance">
    <ion-text color="light">
      <h2>Balance</h2>
    </ion-text>
    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-text color="light">
                <h1 class="price">{{ amount.toFixed(2) }} €</h1>
            </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <Btn content="Remove" size="large" color="secondary" />
        </ion-col>
        <ion-col>
           <Btn content="Add" size="large" color="primary" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</template>

<script lang="ts">
import Btn from '@/components/globals/Btn.vue';
import { IonText, IonGrid, IonRow, IonCol } from '@ionic/vue';
export default {
  name: "Balance",
  data: () => ({}),
  props: {
    amount: {
      type: Number,
      required: true,
    },
  },
  components: {
    Btn, IonText, IonGrid, IonRow, IonCol
    }
};
</script>

<style scoped>
    .balance {
        padding-left: 20px;
        padding-right: 20px;
    }
    ion-row {
        text-align: center;
    }
    ion-button {
        width: 100%;
    }
    .price {
        font-weight: 600;
    }
</style>
