<template>
  <div class="padding">
    <ion-text color="light">
      <h2>Distribution</h2>
    </ion-text>
    <div class="container">
      <DistributionChart />
    </div>
  </div>
</template>

<script lang="ts">
import DistributionChart from '@/components/charts/DistributionChart.vue'
import { IonText } from "@ionic/vue";
export default {
  name: "Distribution",
  data: () => ({

  }),
  props: {},
  components: {
    IonText,
    DistributionChart
  },
};
</script>

<style scoped>
.padding {
  padding: 0 20px;
}
.container {
  background-color: var(--light-grey);
  border-radius: 15px;
  padding: 20px;
  padding-left: 0px;
  padding-right: 40px;
}
</style>
