<template>
    <h1>{{ title }}</h1>
</template>

<script lang="ts">
export default {
    name: 'MainTitle',
    data: () => ({

    }),
    props: {
        title: {
            type: String,
            required: true
        }
    }
}
</script>

<style>
    h1 {
        padding-left: 20px;
    }
</style>