<template>
    <ion-button :size="btnSize" :color="btnColor" :fill="btnFill">{{ btnContent }}</ion-button>
</template>

<script>
import { IonButton } from '@ionic/vue'
export default {
    name: 'Btn',
    data: () => ({}),
    computed : {
        btnSize() {
            return (this.size ? this.size : 'default')
        },
        btnColor(){
            return (this.color ? this.color : 'primary')
        },
        btnContent(){
            return (this.content ? this.content : '')
        },
        btnFill(){
            return (this.fill ? this.fill : 'solid')
        },
    },
    props: {
        size: {
            type: String,
            required: false
        },
        color: {
            type: String,
            required: false
        },
        content: {
            type: String,
            required: false
        },
        fill: {
            type: String,
            required: false
        }
    },
    components : {
        IonButton
    }
}
</script>

<style scoped>
ion-button {
    text-transform: uppercase;
    color: var(--white) !important;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 12px;
    height: 44px;
    width: 135px;
}    
</style>